{% extends 'KoreAdminBundle:Base:layout.html.twig' %}
{% use 'KoreAdminBundle:Base:icons.html.twig' %}
{% use 'KoreAdminBundle:Base:flashbag.html.twig' %}

{% trans_default_domain 'KoreUserBundle' %}

{% block title %}&nbsp;-&nbsp;{{ 'group.list.title'|trans }}{% endblock %}

{% block admin %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'group.list.title'|trans }}</h1>
                {% block flashbag %}{{ parent() }}{% endblock %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-success" href="{{ path('fos_user_group_new') }}">{{ icon('plus fa-fw') }}&nbsp;{{ 'group.new.link'|trans }}</a>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-list">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'group.list.list'|trans }}</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-striped table-hover table-middle">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    </th>
                                    <th>{{ 'group.form.id'|trans }}</th>
                                    <th>{{ 'group.form.name'|trans }}</th>
                                    <th>{{ 'group.form.roles'|trans }}</th>
                                    <th>{{ 'group.form.created_at'|trans }}</th>
                                    <th>{{ 'group.form.updated_at'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr>
                                    <td>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default" href="{{ path('fos_user_group_show', {'groupName': group.name} ) }}">{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-primary" href="{{ path('fos_user_group_edit', {'groupName': group.name} ) }}">{{ icon('edit fa-fw') }}</a></div>
                                    </td>
                                    <td>{% if group.id %}{{ group.id }}{% endif %}</td>
                                    <td>{% if group.name %}{{ group.name }}{% endif %}</td>
                                    <td>{% if group.roles %}{{ group.roles|join(', ') }}{% endif %}</td>
                                    <td><span class="fa fa-calendar-o" data-toggle="tooltip" data-placement="left" title="{{ group.createdat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd LLLL y HH:mm") }}"></span>&nbsp;{{ group.createdat|ago }}</td>
                                    <td><span class="fa fa-calendar-o" data-toggle="tooltip" data-placement="left" title="{{ group.updatedat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "dd LLLL y HH:mm") }}"></span>&nbsp;{{ group.updatedat|ago }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-list -->

    </div>
    <!-- /#page-wrapper -->

{% endblock %}

{% block javascript %}<script type="text/javascript">$(function () { $('[data-toggle="tooltip"]').tooltip() })</script>{% endblock %}
