{% block extends %}
{{ "{% extends 'KoreAdminBundle:Base:base.html.twig' %}" }}
{{ "{% use 'KoreAdminBundle:Base:navbar.html.twig' %}" }}
{{ "{% use 'KoreAdminBundle:Base:sidebar.html.twig' %}" }}
{{ "{% use 'KoreAdminBundle:Base:icons.html.twig' %}" }}
{{ "{% use 'KoreAdminBundle:Base:flashbag.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% trans_default_domain 'KoreAdminBundle' %}" }}

{{ "{% block title %}" }}{{ "{{ '" ~ entity_singularized|lower ~ ".edit.title'|trans({'%" ~ identifier ~ "%':" ~ entity_singularized ~ "." ~ identifier ~ "}) }}" }}{{ "{% endblock %}" }}

{{ "{% block body %}" }}

    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{{ "{% block icons %}{{ parent() }}{% endblock %}{{ '" ~ entity_singularized|lower ~ ".edit.title'|trans({'%" ~ identifier ~ "%':" ~ entity_singularized ~ "." ~ identifier ~ "}) }}" }}</h1>
                {{ "{% block flashbag %}{{ parent() }}{% endblock %}" }}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}">{{ "{{ icon('list') }}" }}&nbsp;{{ "{{ '" ~ entity_singularized|lower ~ ".index.link'|trans }}" }}</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">{{ "{{ icon('trash-o') }}" }}&nbsp;{{ "{{ '" ~ entity_singularized|lower ~ ".delete.link'|trans }}" }}</button>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-edit">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ "{{ '" ~ entity_singularized|lower ~ ".edit.form'|trans }}" }}</h2>
                    </div>
                    <div class="panel-body">
                        {{ "{{ form_start(editForm, { 'style': 'horizontal' }) }}" }}
                            {{ '{{ form_widget(editForm) }}' }}
                                <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                    <button type="submit" class="btn btn-primary">{{ "{{ icon('save') }}&nbsp;{{ '" ~ entity_singularized|lower ~ ".edit.submit'|trans }}" }}</button>
                                </div></div>
                        {{ '{{ form_end(editForm) }}' }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-edit -->

        <div id="page-modal">
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ "{{ icon('times') }}" }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ "{{ '" ~ entity_singularized|lower ~ ".delete.title'|trans }}" }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-2 text-center">{{ "{{ icon('exclamation-triangle fa-5x') }}" }}</div>
                                <div class="col-xs-10"><p>{{ "{{ '" ~ entity_singularized|lower ~ ".delete.message'|trans }}" }}</p></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {{ "{{ form_start(deleteForm) }}" }}
                                <button type="submit" class="btn btn-danger pull-right">{{ "{{ icon('trash') }}" }}&nbsp;{{ "{{ '" ~ entity_singularized|lower ~ ".delete.submit'|trans }}" }}</button>
                            {{ "{{ form_end(deleteForm) }}" }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-modal -->

    </div>
    <!-- /#page-wrapper -->

{{ "{% endblock %}" }}
{% endblock body %}

