{% block extends %}
{{ "{% extends 'KoreAdminBundle:Base:base.html.twig' %}" }}
{{ "{% use 'KoreAdminBundle:Base:navbar.html.twig' %}" }}
{{ "{% use 'KoreAdminBundle:Base:sidebar.html.twig' %}" }}
{{ "{% use 'KoreAdminBundle:Base:icons.html.twig' %}" }}
{{ "{% use 'KoreAdminBundle:Base:flashbag.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% trans_default_domain 'KoreAdminBundle' %}" }}

{{ "{% block title %}" }}{{ "{{ '" ~ entity_singularized|lower ~ ".new.title'|trans }}" }}{{ "{% endblock %}" }}

{{ "{% block body %}" }}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{{ "{% block icons %}{{ parent() }}{% endblock %}{{ '" ~ entity_singularized|lower ~ ".new.title'|trans }}" }}</h1>
                {{ "{% block flashbag %}{{ parent() }}{% endblock %}" }}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}">{{ "{{ icon('list') }}&nbsp;{{ '" ~ entity_singularized|lower ~ ".index.link'|trans }}" }}</a>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-new">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ "{{ '" ~ entity_singularized|lower ~ ".new.form'|trans }}" }}</h2>
                    </div>
                    <div class="panel-body">
                        {{ "{{ form_start(newForm, { 'style': 'horizontal' }) }}" }}
                            {{ '{{ form_widget(newForm) }}' }}
                                <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                    <button type="submit" class="btn btn-primary">{{ "{{ icon('save') }}&nbsp;{{ '" ~ entity_singularized|lower ~ ".new.submit'|trans }}" }}</button>
                                </div></div>
                        {{ '{{ form_end(newForm) }}' }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-new -->

    </div>
    <!-- /#page-wrapper -->

{{ "{% endblock %}" }}
{% endblock body %}


