{% extends "KoreUserBundle:Base:layout.html.twig" %}

{% trans_default_domain 'KoreUserBundle' %}

{% block title %}&nbsp;-&nbsp;{{ 'profile.edit.title'|trans }}{% endblock %}

{% block user %}
    <section id="uiuser">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="page-header">{{ 'profile.edit.title'|trans }}</h1>
                    {{ form_start(form, {'style' : 'horizontal', 'label_col' : 4 , 'widget_col' : 8, 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        {{ form_widget(form) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <input type="submit" value="{{ 'controlpanel.profile.submit'|trans }}" class="btn btn-default" />
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
