{% extends "KoreUserBundle:Base:layout.html.twig" %}

{% trans_default_domain 'KoreUserBundle' %}

{% block title %}&nbsp;-&nbsp;{{ 'profile.show.title'|trans }}{% endblock %}

{% block user %}
    <section id="user">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title">{{ 'profile.show.title'|trans }}</h1>
                        </div>
                        <div class="panel-body">
                            <dl class="dl-horizontal">
                                <dt>{{ 'security.form.username'|trans }}</dt>
                                    <dd>{{ user.username }}</dd>
                                <dt>{{ 'security.form.email'|trans }}</dt>
                                    <dd>{{ user.email }}</dd>
                            </dl>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <a type="button" class="btn btn-default" href="{{ path('fos_user_profile_edit') }}">{{ icon('edit fa-fw') }}&nbsp;{{ 'profile.edit.link'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
