{% extends 'KoreAgentBundle:Base:base.html.twig' %}
{% use 'KoreAgentBundle:Base:navbar.html.twig' %}
{% use 'KoreAgentBundle:Base:sidebar.html.twig' %}
{% use 'KoreAgentBundle:Base:icons.html.twig' %}
{% use 'KoreAgentBundle:Base:flashbag.html.twig' %}

{% trans_default_domain 'KoreAgentBundle' %}

{% block title %}{{ 'solicitud.buscar.title'|trans }}{% endblock %}

{% block body %}

    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'solicitud.buscar.title'|trans }}</h1>
                {% block flashbag %}{{ parent() }}{% endblock %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-buscar">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'solicitud.buscar.form'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        {{ form_start(buscarForm, { 'style': 'horizontal' }) }}
                            {{ form_widget(buscarForm) }}
                                <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                    <button type="submit" class="btn btn-primary">{{ icon('search fa-fw') }}&nbsp;{{ 'solicitud.buscar.submit'|trans }}</button>
                                </div></div>
                        {{ form_end(buscarForm) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-buscar -->

        <div class="row" id="page-list">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'solicitud.buscar.list'|trans }}</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-middle table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                    </th>
                                    <th>{{ 'solicitud.form.id'|trans }}</th>
                                    <th>{{ 'solicitud.form.domicilio'|trans }}</th>
                                    <th>{{ 'solicitud.form.persona'|trans }}</th>
                                    <th>{{ 'solicitud.form.estado'|trans }}</th>
                                    <th>{{ 'solicitud.form.created_at'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, solicitud in solicitudes %}
                                <tr>
                                    <td>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default" href="{{ path('agent_solicitud_show', { 'id': solicitud.id }) }}">{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-primary" href="{{ path('agent_solicitud_edit', { 'id': solicitud.id }) }}">{{ icon('edit fa-fw') }}</a></div>
                                    </td>
                                    <td>{% if solicitud.id %}{{ solicitud.id }}{% endif %}</td>
                                    <td>{% if solicitud.domicilio %}{{ solicitud.domicilio }}{% endif %}</td>
                                    <td>{% if solicitud.persona %}{{ solicitud.persona }}{% endif %}</td>
                                    <td>{% if solicitud.estado %}{{ solicitud.estado }}{% endif %}</td>
                                    <td><span class="fa fa-calendar-o" data-toggle="tooltip" data-placement="left" title="{{ solicitud.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', 'dd-LLL-Y - HH:mm') }}"></span>&nbsp;{{ solicitud.createdAt|ago }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-list -->

    </div>
    <!-- /#page-wrapper -->
{% endblock %}

{% block javascript %}<script type="text/javascript">$(function () { $('[data-toggle="tooltip"]').tooltip() })</script>{% endblock %}
