{% extends 'KoreAgentBundle:Base:base.html.twig' %}
{% use 'KoreAgentBundle:Base:navbar.html.twig' %}
{% use 'KoreAgentBundle:Base:sidebar.html.twig' %}
{% use 'KoreAgentBundle:Base:icons.html.twig' %}

{% trans_default_domain 'KoreAgentBundle' %}

{% block title %}{{ 'budget.export.title'|trans({'%id%':budget.id}) }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'budget.export.title'|trans({'%id%':budget.id}) }}</h1>
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ path('agent_budget_index') }}">{{ icon('list fa-fw') }}&nbsp;{{ 'budget.index.link'|trans }}</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">{{ icon('trash-o fa-fw') }}&nbsp;{{ 'budget.delete.link'|trans }}</button>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-export">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'budget.export.form'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        {{ form_start(exportForm, { 'style': 'horizontal' }) }}
                            {{ form_widget(exportForm) }}
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'budget.export.submit'|trans }}</button>
                                </div>
                            </div>
                        {{ form_end(exportForm) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-export -->

    </div>
    <!-- /#page-wrapper -->

{% endblock %}
