{% extends 'KoreAgentBundle:Base:base.html.twig' %}
{% use 'KoreAgentBundle:Base:navbar.html.twig' %}
{% use 'KoreAgentBundle:Base:sidebar.html.twig' %}
{% use 'KoreAgentBundle:Base:icons.html.twig' %}
{% use 'KoreAgentBundle:Base:flashbag.html.twig' %}

{% trans_default_domain 'KoreAgentBundle' %}

{% block title %}{{ 'ruta.index.title'|trans }}{% endblock %}

{% block body %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'ruta.index.title'|trans }}</h1>
                {% block flashbag %}{{ parent() }}{% endblock %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ path('agent_ruta_estado_0') }}">{{ icon('list') }}&nbsp;{{ 'ruta.index.r00.link'|trans }}</a>
                    <a type="button" class="btn btn-default" href="{{ path('agent_ruta_estado_5') }}">{{ icon('list') }}&nbsp;{{ 'ruta.index.r05.link'|trans }}</a>
                    <a type="button" class="btn btn-success" href="{{ path('agent_ruta_new') }}">{{ icon('plus') }}&nbsp;{{ 'ruta.new.link'|trans }}</a>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-list">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'ruta.index.list'|trans }}</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('edit fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default disabled">{{ icon('reply fa-fw fa-rotate-270') }}</a></div>
                                    </th>
                                    <th>{{ knp_pagination_sortable(rutas, 'ruta.form.id'|trans, 'id') }}{% if sort == 'id' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(rutas, 'ruta.form.encuestador'|trans, 'encuestador') }}{% if sort == 'encuestador' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(rutas, 'ruta.form.estado'|trans, 'estado') }}{% if sort == 'estado' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(rutas, 'ruta.form.created_at'|trans, 'created_at') }}{% if sort == 'created_at' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for key, ruta in rutas %}
                                <tr>
                                    <td>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-default" href="{{ path('agent_ruta_show', { 'id': ruta.id }) }}">{{ icon('search fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-primary" href="{{ path('agent_ruta_edit', { 'id': ruta.id }) }}">{{ icon('edit fa-fw') }}</a></div>
                                        <div class="btn-group" role="group"><a type="button" class="btn btn-xs btn-warning" href="{{ path('agent_ruta_receipt', { 'id': ruta.id }) }}">{{ icon('reply fa-fw fa-rotate-270') }}</a></div>
                                    </td>
                                    <td>{% if ruta.id %}{{ ruta.id }}{% endif %}</td>
                                    <td>{% if ruta.encuestador %}{{ ruta.encuestador }}{% endif %}</td>
                                    <td>{% if ruta.estado %}{{ ruta.estado }}{% endif %}</td>
                                    <td><span class="fa fa-calendar-o" data-toggle="tooltip" data-placement="left" title="{{ ruta.createdat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', 'dd-LLL-Y - HH:mm') }}"></span>&nbsp;{{ ruta.createdat|ago }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            {{ knp_pagination_render(rutas) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-list -->

    </div>
    <!-- /#page-wrapper -->

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function () { $('[data-toggle="tooltip"]').tooltip() })
</script>
{% endblock %}