{% block brands %}
    <section id="brands">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="brands">
                        <div>
                            <img class="img-responsive" src="{{ asset('images/brands/revlon.png') }}">
                        </div>
                        <div>
                            <img class="img-responsive" src="{{ asset('images/brands/ph.png') }}">
                        </div>
                        <div>
                            <img class="img-responsive" src="{{ asset('images/brands/preface.png') }}">
                        </div>
                        <div>
                            <img class="img-responsive" src="{{ asset('images/brands/hipertin.png') }}">
                        </div>
                        <div>
                            <img class="img-responsive" src="{{ asset('images/brands/macadamia.png') }}">
                        </div>
                        <div>
                            <img class="img-responsive" src="{{ asset('images/brands/marinavital.png') }}">
                        </div>
                        <div>
                            <img class="img-responsive" src="{{ asset('images/brands/montibello.png') }}">
                        </div>
                        <div>
                            <img class="img-responsive" src="{{ asset('images/brands/jaipursigne.png') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
{% endblock %}