{% extends '::base.html.twig' %}

{% block title %}Solicitud Ingresada{% endblock %}

{% block body -%}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Solicitud Ingresada</h1>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal dl-horizontal-sm dl-horizontal-md dl-horizontal-lg">
                <dt>Rut</dt><dd>{{ persona.rut }}</dd>
                <dt>Nombre completo</dt><dd>
                    {% if persona.primernombre %}{{ persona.primernombre }} {% endif %}
                    {% if persona.segundonombre %}{{ persona.segundonombre }} {% endif %}
                    {% if persona.primerapellido %}{{ persona.primerapellido }} {% endif %}
                    {% if persona.segundoapellido %}{{ persona.segundoapellido }} {% endif %}</dd>
                <dt>Domicilio</dt><dd>
                    {% if domicilio.calle %}{{ domicilio.calle }} {% endif %}
                    {% if domicilio.numero %}{{ domicilio.numero }}, {% endif %}
                    {% if domicilio.poblacion %}{{ domicilio.poblacion }}, {% endif %}
                    {% if domicilio.edificio %}{{ domicilio.edificio }}, {% endif %}
                    {% if domicilio.departamento %}{{ domicilio.departamento }}, {% endif %}
                    {% if domicilio.casa %}{{ domicilio.casa }}, {% endif %}
                    {% if domicilio.chacra %}{{ domicilio.chacra }}, {% endif %}
                    {% if domicilio.parcela %}{{ domicilio.parcela }}, {% endif %}
                    {% if domicilio.paradero %}{{ domicilio.paradero }}, {% endif %}
                    {% if domicilio.sector %}{{ domicilio.sector }}, {% endif %}
                    {% if domicilio.rol %}{{ domicilio.rol }} {% endif %}</dd>
                {#<dt>Estado de solicitud</dt><dd>{% if solicitud.estado %}{{ solicitud.estado.nombre }}{% endif %}</dd>#}
                <dt>Tipo de solicitud</dt><dd>{% if solicitud.tipo %}{{ solicitud.tipo.nombre }}{% endif %}</dd>
            </dl>
        </div>
    </div>

    <div class="btn-group-lg pull-right">
        <a class="btn btn-primary" href="{{ path('proceso_buscar') }}"><span class="glyphicon glyphicon-repeat"></span> Ingresar nueva solicitud</a>
        <a class="btn btn-primary" href="{{ path('solicitudesfichasocial') }}"><span class="glyphicon glyphicon-list"></span> Volver al menú</a>
    </div>

{% endblock %}