{% extends 'KoreAgentBundle:Base:layout.html.twig' %}
{% use 'KoreAgentBundle:Base:icons.html.twig' %}
{% use 'KoreAgentBundle:Base:flashbag.html.twig' %}

{% trans_default_domain 'KoreAgentBundle' %}

{% block title %}&nbsp;-&nbsp;{{ 'product.show.title'|trans({'%id%':product.id}) }}{% endblock %}

{% block agent %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'product.show.title'|trans({'%id%':product.id}) }}</h1>
                {% block flashbag %}{{ parent() }}{% endblock %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ path('agent_product_index') }}">{{ icon('list fa-fw') }}&nbsp;{{ 'product.index.link'|trans }}</a>
                    <a type="button" class="btn btn-primary" href="{{ path('agent_product_edit', { 'id': product.id }) }}">{{ icon('edit fa-fw') }}&nbsp;{{ 'product.edit.link'|trans }}</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDelete">{{ icon('trash-o fa-fw') }}&nbsp;{{ 'product.delete.link'|trans }}</button>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-show">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'product.show.data'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-responsive img-thumbnail center-block" src="{{ vich_uploader_asset(product, 'imagefile', 'Kore\\AdminBundle\\Entity\\Product')|imagine_filter('product_show_medium') }}" />
                            </div>
                            <div class="col-md-9">
                                <dl class="dl-horizontal">
                                    <dt>{{ 'product.form.id'|trans }}</dt>
                                        <dd>{% if product.id %}{{ product.id }}{% endif %}</dd>
                                    <dt>{{ 'product.form.name'|trans }}</dt>
                                        <dd>{% if product.name %}{{ product.name }}{% endif %}</dd>
                                    <dt>{{ 'product.form.description'|trans }}</dt>
                                        <dd>{% if product.description %}{{ product.description }}{% endif %}</dd>
                                    <dt>{{ 'product.form.cm_code'|trans }}</dt>
                                        <dd>{% if product.cmcode %}{{ product.cmcode }}{% endif %}</dd>
                                    <dt>{{ 'product.form.height'|trans }}</dt>
                                        <dd>{% if product.height %}{{ product.height }}{% endif %}</dd>
                                    <dt>{{ 'product.form.width'|trans }}</dt>
                                        <dd>{% if product.width %}{{ product.width }}{% endif %}</dd>
                                    <dt>{{ 'product.form.length'|trans }}</dt>
                                        <dd>{% if product.length %}{{ product.length }}{% endif %}</dd>
                                    <dt>{{ 'product.form.weight'|trans }}</dt>
                                        <dd>{% if product.weight %}{{ product.weight }}{% endif %}</dd>
                                    <dt>{{ 'product.form.size'|trans }}</dt>
                                        <dd>{% if product.size %}{{ product.size }}{% endif %}</dd>
                                    <dt>{{ 'product.form.density'|trans }}</dt>
                                        <dd>{% if product.density %}{{ product.density }}{% endif %}</dd>
                                    <dt>{{ 'product.form.price'|trans }}</dt>
                                        <dd>{% if product.price %}{{ product.price }}{% endif %}</dd>
                                    <dt>{{ 'product.form.image'|trans }}</dt>
                                        <dd>{% if product.image %}{{ product.image }}{% endif %}</dd>
                                    <dt>{{ 'product.form.created_at'|trans }}</dt>
                                        <dd>{% if product.createdat %}{{ product.createdat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}&nbsp;({{ product.createdat|ago }}){% endif %}</dd>
                                    <dt>{{ 'product.form.updated_at'|trans }}</dt>
                                        <dd>{% if product.updatedat %}{{ product.updatedat|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}&nbsp;({{ product.updatedat|ago }}){% endif %}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-show -->

        <div id="page-modal">
            <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">{{ icon('times') }}</button>
                            <h4 class="modal-title" id="myModalLabel">{{ 'product.delete.title'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-xs-2 text-center">{{ icon('exclamation-triangle fa-5x') }}</div>
                                <div class="col-xs-10"><p>{{ 'product.delete.message'|trans }}</p></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {{ form_start(deleteForm) }}
                                <button type="submit" class="btn btn-danger pull-right">{{ icon('trash-o fa-fw') }}&nbsp;{{ 'product.delete.submit'|trans }}</button>
                            {{ form_end(deleteForm) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /#page-modal -->

    </div>
    <!-- /#page-wrapper -->
{% endblock %}

