{% extends 'KoreAgentBundle:Base:layout.html.twig' %}
{% use 'KoreAgentBundle:Base:icons.html.twig' %}
{% use 'KoreAgentBundle:Base:flashbag.html.twig' %}

{% trans_default_domain 'KoreAgentBundle' %}

{% block title %}{{ 'issuer.new.title'|trans }}{% endblock %}

{% block agent %}
    <div id="page-wrapper">
        <div class="row" id="page-header">
            <div class="col-lg-12">
                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'issuer.new.title'|trans }}</h1>
                {% block flashbag %}{{ parent() }}{% endblock %}
            </div>
        </div>
        <!-- /#page-header -->

        <div class="row" id="page-toolbar">
            <div class="col-lg-12">
                <div class="btn-toolbar">
                    <a type="button" class="btn btn-default" href="{{ path('agent_issuer_index') }}">{{ icon('list fa-fw') }}&nbsp;{{ 'issuer.index.link'|trans }}</a>
                </div>
            </div>
        </div>
        <!-- /#page-toolbar -->

        <div class="row" id="page-new">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'issuer.new.form'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        {{ form_start(newForm, { 'style': 'horizontal' }) }}
                            {{ form_widget(newForm) }}
                                <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                    <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'issuer.new.submit'|trans }}</button>
                                </div></div>
                        {{ form_end(newForm) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-new -->

    </div>
    <!-- /#page-wrapper -->

{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/koreagent/js/jquery.rut.min.js') }}"></script>
<script type="text/javascript">$('#kore_agentbundle_issuer_rut').Rut();</script>
{% endblock %}
